@mixin SignButton() {
    .signButton {

        .signButton__a {
            position: absolute;
            top: 87%;
            left: 47%;
            width: 6%;
            height: 6%;
            color: transparent;
            background: transparent;
            z-index: 10;
        }

        .signButton__svg {
            position: absolute;
            top: 87%;
            left: 47%;
            width: 6%;
            height: 6%;
            color: white;
            font-weight: 900;
            z-index: 5;
        
            animation-name: signButton__animation;
            animation-duration: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        
            &:hover {
                cursor: pointer;
            }

            @keyframes signButton__animation {
                from {
                    top: 87%;
                } to {
                    top: 90%;
                }
            }
        }
    }
}